@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.about {
	padding: 3em 0;
	background-color: $ff-color-purple;

	.titleBox {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		grid-template-columns: 15em auto;

		.title {
			font-size: 2em;
		}

		.subtitle {

		}
	}

	.membersBubbles {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-flow: wrap;
		text-align: center;
		gap: 3em;
		flex-grow: 0;

		&>div {
			flex-basis: 35%;
		}
	}
}