@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.articleGrid {
	display: grid;
	grid-gap: 2em;
	grid-template-areas:
			"large large large small1"
			"large large large small2"
			"small3 small4 small5 small6";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);

	@include respond-to(phone) {
		grid-gap: 1em;
		grid-template-areas: "large" "small1" "small2" "small3" "small4" "small5" "small6";
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	& div {
		&:first-child {
			grid-area: large;
			grid-column-start: span 3;

			@include respond-to(phone) {
				grid-column-start: span 1;
			}
		}

		@for $i from 1 through 6 {
			&:nth-child(#{$i + 1}) {
				grid-area: small#{$i};
			}
		}
	}
}