@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";

.articleBox {
	text-align: left;

	.image {
		@include aspect-ratio(4 3, 100%, true, high);
	}

	.subtitle {
		max-width: 80%;
	}

	a {
		text-decoration: none;
		color: $ff-color-white;
	}
}