@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.blog {
	padding: 5em 0;
	text-align: center;
	background-color: $ff-color-purple;

	@include respond-to(phone) {
		padding: 3em 0;
	}

	.title {
		@include respond-to(phone) {
			margin: 0 0 1rem 0;
		}
	}

	.subtitle {
		margin: 0 auto;
		max-width: 70%;

		@include respond-to(phone) {
			max-width: none;
		}
	}

	.articles {
		display: grid;
		grid-gap: 2em;
		grid-template-columns: repeat(3, 1fr);
		margin: 5em 0;

		@include respond-to(phone) {
			grid-auto-flow: row;
			grid-template-columns: auto;
		}
	}
}