@import "styles/variables";
@import "styles/colors";

.contact {
	color: $ff-color-white;
	padding: 5em 0;
	background-color: $ff-color-dark-green;

	.subtitle {
		color: $ff-color-white;
	}

	section {
		display: grid;
		grid-gap: 5em;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: column;

		.form {
			label {
				display: block;
			}
		}
	}
}