@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";

.coverArticleBox {
	position: relative;
	overflow: hidden;

	a {
		display: block;
	}

	.image {
		@include aspect-ratio(1 1.5, 100%, true, high);
	}

	.content {
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		padding: 30em 1em 1em 1em;
		text-align: left;
		backdrop-filter: brightness(.5);

		.subtitle {
			font-size: .8em;
		}

		.author, .date {
			font-family: $secondary-font-family;
			font-size: .8em;
			text-transform: uppercase;
			margin-right: 1em;

			&.date {
				font-family: $text-font-family;
				margin-right: 0;
			}

			svg {
				width: 1em;
				height: 1em;
				margin-right: .5em;
			}
		}
	}
}