@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.documentBox {
	cursor: pointer;
	display: grid;
	grid-gap: 2em;
	align-items: start;
	grid-template-columns: 1fr 4fr;

	@include respond-to(phone) {
		grid-gap: 0;
		grid-template-columns: 1fr;
	}

	.icon {
		figure {
			@include aspect-ratio(1 1, 100%, true, high);
			margin: 0;
		}
	}

	.description {

		@include respond-to(phone) {
			padding: 1em 0 0 0;
		}

		small {
			display: block;
			font-size: .8rem;
			margin: 0 0 .5em 0;
			text-transform: uppercase;
		}

		h4 {
			font-weight: bold;
			margin: 0 0 .5em 0;
		}
	}
}