@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.highlights {
	padding: 4em 0;
	text-align: center;
	background-color: $ff-color-purple;

	.divider {
		width: 50%;
		border: 0;
		height: 1px;
		background-color: $ff-color-red;
	}

	.content {
		padding: 3em 0;

		@include respond-to(tablet) {
			padding: 3em 1em;
		}

		.stories {
			width: 100%;
			max-width: 1366px;
			margin: 2em auto;

			@include respond-to(tablet) {
				max-width: 962px;
			}

			@include respond-to(phone) {
				max-width: 360px;
			}
		}
	}

}