@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";

.largeArticleBoxHorizontal {
	color: $ff-color-purple;
	background-color: $ff-color-white;

	.image {
		@include aspect-ratio(22 9, 100%, true);

		@include respond-to(phone) {
			@include aspect-ratio(16 9, 100%, true);
		}
	}

	.body {
		text-align: left;
		padding: 5em;
		font-weight: 400;

		@include respond-to(phone) {
			padding: 1em;
		}

		.author {
			margin-right: 2em;
			text-transform: uppercase;
		}

		svg {
			width: 1em;
			height: 1em;
			margin-right: .5em;
		}

		.text {
			padding: 3em 0 1em 0;
			columns: 2;

			@include respond-to(phone) {
				columns: 1;
			}

			p {
				margin: 0 0 1em 0;
			}

			ul {
				margin: 0;
			}
		}

		.link {
			display: block;
			text-align: right;

			a {
				color: $ff-color-purple;
			}
		}
	}
}