@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";

.largeArticleBox {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 2fr;
	padding: 0;
	margin: 4em 0;

	@include respond-to(phone, tablet) {
		grid-auto-flow: row;
		grid-template-columns: auto;
	}

	.imageOverlay {
		position: relative;

		figure {
			@include aspect-ratio(2 3, 100%, true, high);
			margin: 0;
			background-color: rgba($ff-color-white, .1);

			@include respond-to(tablet) {
				@include aspect-ratio(4 3, 100%, true);
			}
		}

		.textOverlay {
			position: absolute;
			display: grid;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0 2em;
			backdrop-filter: brightness(.7);

			.overlayContent {
				display: block;
				color: $ff-color-white;
				text-align: center;
				background-color: transparent;

				.title {
					font-weight: 400;
					font-size: 1.5em;
				}

				.text {
					white-space: pre;
				}

				.caption {
					font-weight: 400;
				}
			}

		}
	}

	.content {
		display: grid;
		grid-auto-flow: row;
		justify-content: center;
		align-items: center;
		color: $ff-color-black;
		background-color: $ff-color-white;

		.contentText {
			padding: 0 2em 0 4em;
			color: $ff-color-purple;
			text-align: right;

			@include respond-to(phone, tablet) {
				padding: 1em 1.5em;
				text-align: left;
			}

			.text {
				p {
					margin-bottom: .8em;
				}

				a {
					color: $ff-color-purple;
					text-decoration: underline;
				}
			}

			.link {
				color: $ff-color-purple;
				font-weight: bold;
				text-align: right;

				@include respond-to(phone) {
					display: block;
				}

				svg {
					width: .9em;
					height: .9em;
				}
			}
		}
	}
}