@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.login {
	background: $gradient-3;

	.form {
		padding: 10em 0;
		text-align: center;

		label {
			text-align: left;
			display: block;
			font-size: .7em;
			text-transform: uppercase;
			margin: 0 0 1em 0;

			input {
				color: $ff-color-white;
				font-size: 1rem;
			}
		}
	}

	.feedback {
		margin: 1em 0;
		padding: .5em 1em;
		border-radius: .5em;
		background-color: rgba($ff-color-white, .8);

		&.error {
			color: $ff-color-red;
		}

		&.success {
			color: $ff-color-green;
		}

		p {
			margin: 0;
		}
	}
}