@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.longArticle {
	position: relative;
	margin-top: 8em;

	.image {
		@include aspect-ratio(16 9, 100%, true);
		margin-bottom: 2em;

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: brightness(.6);
		}
	}

	.caption {

		.title {
			font-weight: bold;
			position: absolute;
			top: -4rem;
			right: 2rem;
			font-size: 2.4em;
			width: 100%;
			max-width: 25rem;
			text-align: right;

			@include respond-to(phone) {
				position: relative;
				top: auto;
				right: auto;
				max-width: none;
				text-align: left;
				padding: 0 1rem;
			}
		}

		.subtitle {
			position: absolute;
			bottom: 1em;
			right: 2em;
			max-width: 22em;
			text-align: right;

			@include respond-to(phone) {
				position: relative;
				bottom: auto;
				right: auto;
				max-width: none;
			}
		}
	}

	.body {
		columns: 2;
		column-gap: 3em;
		padding: 3em;

		@include respond-to(phone) {
			columns: 1;
			padding: 1em;
		}

		.subtitle {
			font-style: italic;
			margin: 0 0 1em 0;

			@include respond-to(phone) {
				font-size: 1.2em;
			}
		}

		.text {
			figure {
				position: relative;

				figcaption {
					position: absolute;
					display: block;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: .5em;
					font-size: .8em;
					background-color: rgba($ff-color-black, .5);
				}
			}
		}
	}
}