@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $navbar-height;
	background-color: $ff-color-purple;
	z-index: 10000;
	padding: 0 3em;
	overflow: hidden;
	font-weight: 400;
	transition: left .2s ease;

	@include respond-to(phone, tablet) {
		left: 0;
		width: 100%;
		padding: 0 1em;
		height: $mobile-navbar-height;
		background-color: $ff-color-purple;
	}

	.navContainer {
		position: relative;
		display: grid;
		grid-gap: 3em;
		grid-auto-flow: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		max-width: 1366px;
		margin: 0 auto;
		transition: all .2s ease;

		@include respond-to(phone) {
			position: fixed;
			top: 0;
			left: 0;
			grid-gap: 1em;
			grid-auto-flow: row;
			grid-template-rows: auto;
			justify-content: start;
			align-items: start;
			padding: 0;
			width: 0;
			height: $mobile-navbar-height;
			background-color: $ff-color-purple;
			animation: closeMenu .3s forwards;
		}

		@include respond-to(tablet) {
			position: fixed;
			top: 0;
			left: 0;
			grid-gap: 1em;
			grid-auto-flow: row;
			grid-template-rows: auto;
			justify-content: start;
			align-items: start;
			padding: 0;
			width: 0;
			height: $mobile-navbar-height;
			background-color: $ff-color-purple;
			animation: closeMenuTablet .3s forwards;
		}

		&>button {
			display: none;
			position: absolute;
			top: 0;
			right: 1em;
		}
	}

	.mainNav {
		display: grid;
		grid-gap: 1.5em;
		grid-auto-flow: column;
		justify-content: start;
		align-items: center;
		margin: 0;
		padding: 0;
		min-width: 400px;
		list-style-type: none;
		overflow: hidden;

		@include respond-to(phone, tablet) {
			grid-auto-flow: row;
			padding: 0;
			width: 100%;
			min-width: 0;
		}

		li {
			text-transform: uppercase;
			font-size: .9rem;
			padding: 0;
			cursor: pointer;

			&.logo {

				.webLink{
					display: block;

					@include respond-to(phone, tablet) {
						display: none;
					}
				}

				.mobLink{
					display: none;
					border: 0;
					outline: none;
					background-color: transparent;

					@include respond-to(phone, tablet) {
						display: block;
						position: absolute;
						margin: 0;
						top: .5em;
						left: 1em;
					}
				}

				img {
					width: auto;
					height: calc(#{$navbar-height} - 1em);

					@include respond-to(phone, tablet) {
						height: calc(#{$mobile-navbar-height} - 1em);
					}
				}
			}

			a {
				@include respond-to(phone, tablet) {
					color: $ff-color-purple;
				}
			}
		}
	}

	.secNav {
		display: grid;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		@include respond-to(phone, tablet) {
			padding: 1em;
			display: none;
		}

		.btn {
			display: grid;
			grid-gap: .6em;
			grid-auto-flow: column;
			align-items: center;
			border-radius: .3em;
			cursor: pointer;
			font-size: .8rem;
			background-color: darken($ff-color-purple, 10%);

			span {
				font-size: .8em;
				text-transform: uppercase;
				padding: .5em 2em;
				border-radius: 3px;
				border: 1px solid $ff-color-white;
			}

			@include respond-to(phone, tablet) {
				color: $ff-color-purple;
				border-color: $ff-color-purple;
			}

			&.profile {
				padding: .5em;
			}

			figure {
				@include aspect-ratio(1 1, 3em, true, high);
				display: inline-block;
				border-radius: 100%;
				overflow: hidden;
			}

			p {
				margin: 0;
				padding: .5em;
			}
		}
	}
}

.navigationActive {
	@extend .navigation;

	.navContainer {
		@include respond-to(phone) {
			animation: openMenu .3s forwards;
			box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.40);

			&>button {
				display: grid;
			}

			.mainNav {
				display: grid;
				padding: 4em 1em;

				a {
					color: $ff-color-white;
				}
			}

			.secNav {
				display: grid;

				a {
					color: $ff-color-white;

					&.btn {
						border-color: $ff-color-white;
					}
				}
			}
		}

		@include respond-to(tablet) {
			animation: openMenuTablet .3s forwards;
			box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.40);

			&>button {
				display: grid;
			}

			.mainNav {
				display: grid;
				padding: 4em 1em;

				a {
					color: $ff-color-white;
				}
			}

			.secNav {
				display: grid;

				a {
					color: $ff-color-white;

					&.btn {
						border-color: $ff-color-white;
					}
				}
			}
		}
	}
}

@keyframes openMenu {
	0% {
		height: $mobile-navbar-height;
	}
	15% {
		height: 100%;
	}
	100% {
		height: 100%;
		width: 80%;
	}
}

@keyframes openMenuTablet {
	0% {
		height: $mobile-navbar-height;
	}
	15% {
		height: 100%;
	}
	100% {
		height: 100%;
		width: 50%;
	}
}

@keyframes closeMenu {
	0% {
		height: 100%;
		width: 80%;
	}
	85% {
		height: 100%;
		width: 0;
	}
	100% {
		height: $mobile-navbar-height;
	}
}

@keyframes closeMenuTablet {
	0% {
		height: 100%;
		width: 50%;
	}
	85% {
		height: 100%;
		width: 0;
	}
	100% {
		height: $mobile-navbar-height;
	}
}