@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.profile {
	padding: 5em 0;
	background: $gradient-3;

	.logout {
		text-align: right;
	}

	.photoInput {
		input {
			visibility: hidden;
		}
	}

	.photo {
		@include aspect-ratio(1 1, 100%, true, high);
		border-radius: 100%;
		cursor: pointer;
		background-color: rgba($ff-color-black, .3);

		&:after {
			content: 'Edit photo';
			color: $ff-color-white;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			width: calc(100% - 2em);
			padding: 1em;
			z-index: 2;
			background-color: rgba($ff-color-black, .4);
		}
	}

	input, textarea {
		color: $ff-color-white;
	}

	textarea {
		min-height: 15em;
		line-height: 1.4;
		@include scrollbars(.8em, $ff-color-salmon, $ff-color-white);
	}

	.row {
		margin: 1em 0;

		&.half {
			display: inline-block;
			width: 47.5%;

			&.right {
				margin-left: 5%;
			}

			&.left {
				text-align: left;
				padding-right: 5%;
			}
		}

		&.rightAlign {
			text-align: right;
		}

		&>button {
			text-align: center;
			border: none;
			padding: .5em 1em;
			border-radius: .3em;
			color: $ff-color-white;
			background-color: $ff-color-red;
		}
	}
}