@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.storyBox {
	position: relative;
	margin-right: 1em;
	overflow: hidden;

	.cover {
		@include aspect-ratio(1.2 2, 100%, true, high);
		margin: 0;
	}

	.caption {
		position: absolute;
		display: grid;
		align-items: end;
		justify-content: center;
		grid-auto-flow: row;
		grid-template-rows: auto;
		top: 0;
		left: 0;
		width: 101%;
		height: 100%;
		padding: .5em;
		background-color: rgba($ff-color-black, .5);
		overflow: hidden;

		h4 {
			margin: 0 0 .5em 0;
		}

		p {
			margin: 0;
			font-size: .9em;
		}
	}
}