@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.storiesSlider {
	/*position: relative;
	width: 100%;
	margin: 2em auto 0 auto;*/

	.slider {
		//margin-right: -1em;
	}

	.noSlider {
		width: 100%;
		display: grid;
		grid-gap: 1em;
		grid-auto-flow: column;
		justify-content: center;
		align-items: center;
		grid-template-columns: auto;
	}
}