@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.teamBox {
	@include aspect-ratio(1 1, 35em);
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	margin: 2em auto;
	background: $gradient-3;

	@include respond-to(phone, tablet) {
		height: auto;
		width: 100%;
		padding-bottom: 0;
		border-radius: .8em;
	}

	&.alt {
		background: $gradient-2;
	}

	.title {
		margin-top: 2em;

		@include respond-to(phone) {
			margin: 1em auto 0 auto;
		}
	}

	.members {
		display: grid;
		width: 75%;
		margin: 2em auto;
		grid-gap: 1em;
		grid-template-areas: "c1 c2 c3 c4" "c5 c6 c7 c8" ". c9 c10 .";
		grid-template-rows: repeat(3, 140px);
		grid-template-columns: repeat(4, 1fr);
		justify-content: center;
		align-items: center;
		transition: all .3s ease;

		@for $i from 1 through 15 {
			.teamMember:nth-child(#{$i}){
				grid-area: c#{$i};

				@include respond-to(phone) {
					grid-area: auto;
				}
			}
		}

		@include respond-to(tablet) {
			width: 90%;
			grid-template-rows: auto;
			grid-template-columns: repeat(4, 1fr);
		}

		@include respond-to(phone) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: none;
			grid-template-rows: auto;
			margin: 2em auto;
		}
	}
}

.teamMember {

	@include respond-to(phone) {
		//flex-basis: 48%;
	}

	.photo {
		@include aspect-ratio(1 1, 100%, true);
		border-radius: 100%;
	}

	.caption {
		font-size: .6em;
		text-align: center;
		margin: .5em 0 2em 0;

		span {
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}