/* WEBSITE COLORS */

$ff-color-yellow: #ffc835;
$ff-color-purple: #3c2979;
$ff-color-alt-green: #007a63;
$ff-color-red: #df3526;
$ff-color-salmon: #f58c72;
$ff-color-dark-salmon: #df3526;
$ff-color-grey: #e4e4e3;
$ff-color-white: #ffffff;
$ff-color-black: #000000;
$ff-color-light-green: #56e29f;
$ff-color-green: #19b799;
$ff-color-dark-green: #006f5c;

$background-color: $ff-color-purple;
$text-color: $ff-color-white;