@import "colors";

$navbar-height: 85px;

$gradient-1: linear-gradient(0deg, $ff-color-purple 0%, $ff-color-purple 65%, $ff-color-salmon 100%);;
$gradient-2: linear-gradient(0deg, $ff-color-purple 0%, $ff-color-green 100%);
$gradient-3: linear-gradient(0deg, $ff-color-purple 0%, $ff-color-salmon 100%);