@import "variables";
@import "colors";
@import "mixins";

.aboutUs {
	padding: 12em 0;
	background: $gradient-4;

	@include respond-to(phone) {
		padding: 8em 0;
	}

	.header {
		padding: 0 0 12em 0;

		@include respond-to(phone) {
			padding: 0 0 6em 0;
		}

		.title {
			font-size: 2.5em;

			strong {
				text-decoration: underline;
			}
		}
	}

	.letter {
		display: grid;
		grid-gap: 3em;
		align-items: start;
		grid-template-columns: 1fr 1.5fr;

		@include respond-to(phone) {
			grid-auto-flow: row;
			grid-gap: 2em;
			grid-template-columns: auto;
		}

		.image {
			figure {
				@include aspect-ratio(3 4, 100%, true, high);
			}
		}

		.body {
			text-align: right;

			@include respond-to(phone) {
				text-align: left;
			}

			.title {
				margin: 0 0 1em 0;
			}
		}
	}

	.complementary {
		padding: 8em 0;
		display: grid;
		grid-gap: 3em;
		align-items: start;
		grid-template-columns: 1fr 1.5fr;
		grid-template-areas: "title title" "desc visual";

		@include respond-to(phone) {
			padding: 5em 0 3em 0;
			grid-gap: 2em;
			grid-template-areas: "visual" "title" "desc";
			grid-template-columns: auto;
		}

		&.alt {
			grid-template-areas: "title title" "visual desc";

			@include respond-to(phone) {
				grid-template-areas: "title" "visual" "desc";
			}
		}

		.title {
			grid-area: title;
			margin: 0 0 1em 0;
		}

		.text {
			grid-area: desc;
		}

		.image {
			grid-area: visual;

			figure {
				@include aspect-ratio(4 3, 100%, true, high);
			}
		}
	}

	.whoWeAre {
		.titleBox {
			width: 100%;
			align-items: center;
			margin-bottom: 3em;

			.title {
				text-align: center;
				font-size: 2em;
			}

			.subtitle {
				text-align: center;
				max-width: 70%;
				margin: 0 auto;
			}
		}

		.membersBubbles {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-flow: wrap;
			text-align: center;
			gap: 3em;
			flex-grow: 0;

			&>div {
				flex-basis: 35%;
			}
		}
	}
}