@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.blogDetail {
	background-color: $ff-color-white;

	.article {
		color: $ff-color-purple;
		padding: 8em 0 0 0;

		@include respond-to(phone) {
			padding-top: 3em;
		}

		.image {
			@include aspect-ratio(25 9, 100%, true);
			margin: 0 0 3em 0;

			@include respond-to(phone, tablet) {
				@include aspect-ratio(4 3, 100%, true, high);
			}
		}

		.header {
			display: grid;
			grid-gap: 3em;
			grid-template-columns: repeat(2, 1fr);

			@include respond-to(phone, tablet) {
				display: block;
			}

			.title {
				p {
					margin-bottom: .5em;
				}

				.author {
					text-transform: uppercase;
					font-weight: bold;
					font-family: $secondary-font-family;
				}

				.date {
					font-family: $secondary-font-family;
					font-size: .9em;
					text-transform: uppercase;
				}

				.category {
					svg, img {
						width: 1em;
						height: 1em;
						margin-right: 1em;
					}
				}

				.tags {
					span {
						display: inline-block;
						margin-right: 1em;
						text-transform: uppercase;
					}
				}
			}

			.intro {
				columns: 2;

				@include respond-to(tablet) {
					margin: 2em 0;
				}

				@include respond-to(phone) {
					columns: 1;
					font-style: italic;
				}

				ul {
					margin: 0;
					//padding: 0;
					padding-inline-start: 1.1em;
				}
			}
		}

	}

	.body {
		padding: 0 0 5em 0;
		color: $ff-color-purple;

		img {
			float: right;
			width: 500px;
			margin: 0 0 1em 1em;
		}

		a {
			color: $ff-color-purple !important;
			text-decoration: underline;
		}
	}

	.downloads {
		Color: $ff-color-dark-salmon;
		text-align: right;

		a {
			display: inline-block;
			clear: left;
			margin: .7em 0;
		}
	}

	.related {
		padding-bottom: 8em;

		.title {
			display: inline-block;
			font-weight: bold;
			padding: 0 8em .5em 0;
			margin-bottom: 2em;
			color: $ff-color-purple;
			border-bottom: 2px solid $ff-color-yellow;
		}

		.articles {
			display: grid;
			grid-gap: 2em;
			grid-template-columns: repeat(4, 1fr);

			@include respond-to(phone) {
				grid-template-columns: 1fr;
			}

			@include respond-to(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}