@import "styles/variables";
@import "styles/colors";

.blog {
	text-align: center;
	background: $gradient-1;

	section {
		padding: 5em 0;

		.header {
			padding: 0 0 5em 0;

			.logo {
				width: 100%;
				max-width: 20em;
			}
		}
	}
}