@import "~normalize.css";
@import "colors";
@import "variables";
@import "mixins";

html,
body {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  color: $ff-color-white;
  font-size: $text-font-size;
  font-family: $text-font-family, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $background-color;

  &>div{
    height: 100%;
  }
}

body {
  margin-top: $navbar-height;

  @include respond-to(phone) {
    margin-top: $mobile-navbar-height;
  }
}

* {
  box-sizing: border-box;
}

p, ul, li, blockquote, cite, a {
  font-family: $text-font-family, sans-serif;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: $ff-color-white;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

label {
  font-size: .9em;
  font-weight: 400;
}

input, textarea {
  border: 0;
  padding: .5em;
  margin: .3em 0;
  border-radius: .3em;
  outline: none;
  width: 100%;
  background-color: rgba($ff-color-black, .4);
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.4;
  margin: 1em 0;
  padding: 0 0 0 1em;
  border-left: 2px solid $ff-color-red;
}

.image-style-align-left {
  float: left;
  clear: right;
  margin: 1em 1em 1em 0;
}

.image-style-align-right {
  float: right;
  clear: left;
  margin: 1em 0 1em 1em;

  &:after {
    @include clearfix;
  }
}

.btn {
  color: $ff-color-white;
  padding: .4em 1.4em;
  border-radius: .2em;
  border: 0;
  background-color: $ff-color-salmon;

  &.red {
    background-color: $ff-color-red;
  }
}