@import "variables";
@import "colors";
@import "mixins";

.grantsDetail {
	background: $gradient-3;

	.article {
		padding: 12em 0;

		@include respond-to(phone, tablet) {
			padding: 6em 0;
		}

		.header {
			text-align: center;
			max-width: 70%;
			margin: 0 auto 12em auto;

			@include respond-to(phone, tablet) {
				max-width: none;
				margin: 0 auto 6em auto;
			}

			.title {
				font-size: 3em;
				font-weight: bold;
			}

			.subtitle {
				color: $ff-color-white !important;

				a {
					color: $ff-color-white !important;
				}
			}
		}
	}

	.body {
		display: grid;
		grid-gap: 2em;
		align-items: center;
		grid-template-columns: 1fr 1.5fr;

		@include respond-to(phone, tablet) {
			grid-template-columns: 1fr;
		}

		.mosaic {
			display: grid;
			grid-gap: .8em;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto; //repeat(3, 1fr);

			@include respond-to(phone) {
				grid-template-columns: 1fr;
				grid-template-rows: auto;
			}

			@include respond-to(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	.blog {
		padding: 1em 0 8em 0;

		.titleBox {
			margin-bottom: 2em;

			.title {
				display: inline-block;
				font-size: 2em;
				font-weight: bold;
				margin-right: 1em;
			}

			.subtitle {
				display: inline-block;
			}
		}

		.articles {
			display: grid;
			grid-gap: 2em;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto;

			@include respond-to(phone) {
				grid-template-columns: 1fr;
			}

			@include respond-to(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}