.homepage {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(62,43,121);
	background: -moz-linear-gradient(0deg, #3d2d77 0%, #f28c75 100%);
	background: -webkit-linear-gradient(0deg, #3d2d77 0%, #f28c75 100%);
	background: linear-gradient(0deg, #3d2d77 0%, #f28c75 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d2d77",endColorstr="#f28c75",GradientType=1);

	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0;
		width: 50%;
		height: auto;
		transform: translateY(-50%) translateX(-50%);
	}
}