@import "variables";
@import "colors";
@import "mixins";

.ourApproach {
	background-color: $gradient-2;

	.videoHeader {
		position: relative;
		margin-bottom: 5em;

		.video {
			@include aspect-ratio(16 9, 100%, true);
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: .6;
			cursor: pointer;
			width: 5em;
			height: 5em;
			transform: translateX(-50%) translateY(-50%);
		}

		.caption {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: brightness(.6);

			.title {
				font-weight: bold;
				position: absolute;
				bottom: 10rem;
				right: 2rem;
				max-width: 22rem;
				text-align: right;
			}

			.subtitle {
				position: absolute;
				bottom: 1em;
				right: 2em;
				max-width: 70%;
				text-align: right;
			}
		}

		.secondaryCaption {
			position: absolute;
			top: 8rem;
			left: 4rem;
			max-width: 22rem;
			font-size: 2.2em;
		}
	}

	.articleHeader {
		position: relative;
		margin-top: 8em;

		.image {
			@include aspect-ratio(16 9, 100%, true);
		}

		.caption {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: brightness(.6);

			.title {
				font-weight: bold;
				position: absolute;
				top: -3rem;
				right: 2rem;
				font-size: 2.4em;
				max-width: 23rem;
				text-align: right;
			}

			.subtitle {
				position: absolute;
				bottom: 1em;
				right: 2em;
				max-width: 22em;
				text-align: right;
			}
		}
	}
}