@import "styles/variables";
@import "styles/colors";
@import "styles/mixins";

.ourApproach {
	background: $gradient-3;

	.header {
		display: block;
		width: 50%;
		text-align: left;
		padding: 5em 0 3em 0;
		margin: 0 10%;

		@include respond-to(phone, tablet) {
			width: 80%;
			padding: 3em 0 1em 0;
		}

		.title {
			font-size: 2.7em;
			font-weight: bold;

			@include respond-to(phone, tablet) {
				max-width: none;
			}

			@include respond-to(phone) {
				font-size: 1.8em;
			}
		}
	}

	.videoHeader {

		.video {
			@include aspect-ratio(16 9, 100%);
			background-color: rgba($ff-color-black, .2);

			&>div {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			svg {
				width: 4em;
				height: 4em;
			}
		}
	}

	/*.videoHeader {
		position: relative;
		margin-bottom: 5em;

		.video {
			@include aspect-ratio(16 9, 100%, true);
		}

		.caption {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: brightness(.4);
			transition: all .2s ease-in;
			z-index: 1000;

			&.nocaption {
				display: none;

				@include respond-to(phone, tablet) {
					display: block;
				}
			}

			@include respond-to(phone, tablet) {
				position: relative;
				top: auto;
				left: auto;
				height: auto;
				backdrop-filter: none;
			}

			.text {
				position: absolute;
				bottom: 2em;
				right: 2em;
				width: 30%;
				text-align: right;

				@include respond-to(phone, tablet) {
					position: relative;
					bottom: auto;
					right: auto;
					width: 100%;
					padding: 1em;
					text-align: left;
				}

				.title {
					font-weight: bold;
				}
			}
		}

		.secondaryCaption {
			position: absolute;
			top: 8rem;
			left: 4rem;
			max-width: 22rem;
			font-size: 2.2em;
		}

		.playButton {
			position: absolute;
			top: 50%;
			left: 50%;
			cursor: pointer;
			width: 5em;
			height: 5em;
			color: rgba($ff-color-white, .6);
			background-color: transparent;
			border: 0;
			outline: none;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1001;
			transition: all .2s ease-in-out;

			@include respond-to(phone, tablet) {
				top: 10%;
				transform: translateY(-10%) translateX(-50%);
			}

			&:hover {
				color: $ff-color-white;
			}
		}

		.pauseButton {
			@extend .playButton;
			top: auto;
			bottom: 2em;
			left: 2em;
			width: 2.5em;
			height: 2.5em;
			transform: none;
		}

		.mutedButton {
			@extend .pauseButton;
			left: 5.5em;
		}
	}

	.articleHeader {
		position: relative;
		margin-top: 8em;

		.image {
			@include aspect-ratio(16 9, 100%, true);
		}

		.caption {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: brightness(.6);

			.title {
				font-weight: bold;
				position: absolute;
				top: -3rem;
				right: 2rem;
				font-size: 2.4em;
				max-width: 23rem;
				text-align: right;
			}

			.subtitle {
				position: absolute;
				bottom: 1em;
				right: 2em;
				max-width: 22em;
				text-align: right;
			}
		}
	}*/
}